<h2 class="contact__title">Entre em Contato</h2>
<section class="contact__container">
  <form class="contact-form">
    <input type="text" placeholder="Digite seu nome">
    <input type="text" placeholder="Digite o assunto">
    <input type="tel" placeholder="(00) 00000-0000">
    <input type="email" placeholder="Digite o seu email">
    <textarea maxlength="300" placeholder="Digite a sua mensagem..."></textarea>
    <button>Enviar</button>
  </form>
  <address>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19171.552037597336!2d-51.39801062476444!3d-22.132765735228283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9493f501254620eb%3A0x16bc508109c64255!2sFatec%20de%20Presidente%20Prudente!5e0!3m2!1spt-BR!2sbr!4v1671820790254!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <p>R. Teresina, 75 - Vila Paulo Roberto, Pres. Prudente - SP, 19046-230</p>
  </address>
</section>
